.favorite-page {
    background: #131313;
    min-height: 100vh;
    color: rgb(214, 214, 214);
}

.favorites-hero {
    height: 370px;
    display: flex;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, rgb(3, 66, 87), rgb(8, 78, 102));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, rgb(3, 66, 87), rgb(8, 78, 102)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.heading-fav {
    font-size: 3rem;
    color: rgb(216, 216, 216);
}


/* Movies */
.all-movies {
    padding-bottom: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 10px;
    min-height: 400px;
    max-width: 300px;
    max-height: 450px;
    align-items: center;
}

.movie img {
    border-radius: 4px;
}

.movie-hover {    
    border-radius: 0 0 4px 4px;
    background-color: #d4d4d4;
    position: absolute;
    transform: translateY(100%);
    overflow: auto;
    padding: 1.2rem;
    bottom: 0;
    transition: 0.4s ease-in-out;
    left: 0;
    font-size: 0.9rem;
    max-height: 100%;
    right: 0;
}


.movie:hover .movie-hover {
    transform: translateY(0%);
}

.movie-card {
    margin: 5px 10px;
}

.movie-title {
    margin-bottom: 12px;
    font-size: 1.6rem;
}

.movie-info {
    line-height: 1.2rem;
    color: rgb(61, 61, 61);
}

.hearticon {
    padding: 5px;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
    color: #ffffff;
    box-shadow: 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: #5e7e94;
    display: flex;
    overflow: auto;
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;
}

.hearticon:hover {
    transform: scale(1.1);
    color: #dfdcf1;
}


.watched {
    display: flex;
    align-items: center;
    height: 30px;
}

.watched h3 {
    margin-right: 10%;
}

@media screen and (max-width: 600px) {

    .favorites-hero {
        height: 280px;
        font-size: 1.2;
    }

    .heading-fav {
        font-size: 25px;
        padding: 15px;
    }

    .signin-button {
        padding: 7px;
        width: 90px;
    }

    .menu {
        display: flex;
        font-size: 0.7rem;
    }

    .no-movies {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .movie {
        min-height: 250px;
        max-width: 230px;
        max-height: 330px;
    }

    .signin-button {
        width: 70px;
        font-size: 0.5rem;
    }

}